.action {
  width: 100%;
  display: grid;
  justify-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  text-align: center;


  &__attention {
    margin: 16px 0 0 0;
  }

  &__counter {
    margin: 15px 0;
    max-width: 288px;
  }

  &__title {
    padding: 15px 0;
    margin: 0;
    color: #ffffff;
    background-color: #029044;
    text-transform: none;
  }
}