.goods {
  width: 100%;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

  &__title {
    margin: 20px 0 0 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 0 0 23px 5px;
    font-size: 24px;
    line-height: 28px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 92px;
    align-items: center;
    width: 320px;
    background-color: #f98000;

    &::after {
      content: "";
      display: block;
      width: 56px;
      height: 36px;
      background-color: transparent;
      background-image: url(../img/delivery.png);
      background-size: 120%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__text {
    display: block;
    margin: 8px 0 8px 16px;
    text-align: left;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;

    &--desc {
      font-weight: 700;
    }
  }

  &__caption {
    margin: 16px 0;
    text-transform: uppercase;
    color: #ff0000;
    font-weight: 700;
    line-height: 16px;
  }
}