.goods {
  text-align: center;

  &__fon {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 320px;
    min-height: 111px;
    background-color: #029044;
    background-image: url(../img/goods_fon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #ff0000;
  }

  &__title {
    margin: 20px 0 0 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 0 0 23px 0;
    font-size: 24px;
    line-height: 28px;
  }

  &__img {
    display: block;
    height: 163px;
    width: 320px;
  }

  &__wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
    width: 320px;
    // height: 44px;
    background-color: #f98000;

    &::after {
      content: "";
      display: block;
      width: 56px;
      height: 36px;
      background-color: transparent;
      background-image: url(../img/delivery.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__text {
    display: block;
    margin: 8px 0 8px 16px;
    text-align: left;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;

    &--selection {
      font-weight: 700;
    }
  }

  &__caption {
    margin: 16px 0;
    text-transform: uppercase;
    color: #ff0000;
    font-weight: 700;
    line-height: 16px;
  }
}